<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/madlibs.css">
        <title>A Compliment</title>
    </head>
    <body>
        <h1>You deserve a compliment!</h1>
        <p>Hi {{ person }}! I think you're 
            <ul>
                {% for compliment in compliments %}
                <li>{{ compliment }}!</li>
                {% endfor %}
            </ul>
        </p>
        <form action="/game", method="POST">
            Would you like to play a game?
            <input type="radio" name="game" value="yes">Yes
            <input type="radio" name="game" value="no">No
            <input type="hidden" name="name" value= {{ person }}>
            <input type="submit">
        </form>
    </body>
</html>