<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/madlibs.css">
        <title>A Compliment</title>
    </head>
    <body>
        <h1>You deserve a compliment!</h1>
        <p>Hi {{ person }}! I think you're {{ compliment }}!</p>

        <form action="/game">
            Would you like to play a game?
            <input type="radio" name="game" value="yes">Yes
            <input type="radio" name="game" value="no">No
            <input type="hidden" name="name" value= {{ person }}>
            <input type="submit">
        </form>
    </body>
</html>