<!DOCTYPE html>
<html>
    <head>
        <title>A Game</title>
    </head>
    <body>
        <form action="/madlib">
            Give me the name of a person. <input type="text" name="person" placeholder="name">
            Give me a color. <input type="text" name="color" placeholder="color">
            Give me a noun (NOT the name of a person). <input type="text" name="noun" placeholder="noun">
            Give me an adjective. <input type="text" name="adjective" placeholder="adjective">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>