<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/madlibs.css">
        <title>A Game</title>
    </head>
    <body>
        <form action="/madlib" method="GET">
            Give me the name of a person. <input type="text" name="person" placeholder="name"><br>
            Give me a color. <input type="text" name="color" placeholder="color"><br>
            Give me a noun (NOT the name of a person). <input type="text" name="noun" placeholder="noun"><br>
            Give me an adjective. <input type="text" name="adjective" placeholder="adjective"><br>
            Give me an adverb. <input type="text" name="adverb" placeholder="adverb"><br>
            Give me a smell. <input type="text" name="smell" placeholder="smell"><br>
            Give me a taste. <input type="text" name="taste" placeholder="taste"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>