<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/madlibs.css">
        <title>A Game</title>
    </head>
    <body>
        <form action="/madlib">
            Give me the name of a person. <input type="text" name="person" placeholder="name">
            Give me a color. <input type="text" name="color" placeholder="color">
            Give me a noun (NOT the name of a person). <input type="text" name="noun" placeholder="noun">
            Give me an adjective. <input type="text" name="adjective" placeholder="adjective">
            Give me an adverb. <input type="text" name="adverb" placeholder="adverb">
            Give me a smell. <input type="text" name="smell" placeholder="smell">
            Give me a taste. <input type="text" name="taste" placeholder="taste">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>